@import "tailwindcss";

.custom-shadow {
    @apply shadow-[0_10px_10px_rgba(0,0,0,0.05),0_4px_6px_rgba(34,42,53,0.04),0_24px_68px_rgba(47,48,55,0.05),0_2px_3px_rgba(0,0,0,0.04)]
}

@keyframes pulse-glow {
  0%, 100% { text-shadow: 0 0 10px rgba(255,255,255,0.5); }
  50% { text-shadow: 0 0 20px rgba(255,255,255,0.9), 0 0 30px rgba(255,255,255,0.4); }
}

.animate-glow {
  animation: pulse-glow 2s infinite ease-in-out;
}